<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banding</title>



    <link href="~/img/favicon.ico" rel="icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div class="container-xxl position-relative p-0" id="home">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand p-0">
                    <h1 class="m-0">Banding</h1>
                    @*<img src="~/css/logo.png"" alt="Logo">*@
                </a>
                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">

                        @if (User.IsInRole("admin"))
                        {
                        //dropdown - multifunciones
                            <a href="#home" class="nav-item nav-link">Gestión General</a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        //dropdown - multifunciones
                            <a href="#about" class="nav-item nav-link">Gestión Datos</a>


                            <a class="nav-item nav-link" asp-area="" asp-controller="Inventario" asp-action="Index">Inventario</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Facturacion" asp-action="Index">Facturación</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Historico" asp-action="Index">Histórico</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Reporte" asp-action="Index">Reporte</a>
                        }
                    </div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="LogIn">Iniciar Sesión</a>


                    }
                    else
                    {

                        <a class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block" asp-area="" asp-controller="Cuenta" asp-action="Index">Cuenta</a>
                        <a class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesión</a>
                    }

                </div>
            </nav>

        </div>

        <div class="container-fixed">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="container-fluid bg-dark text-body footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <p class="section-title text-white h5 mb-4">Contacto<span></span></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>Quito, Ecuador</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+593 996176936</p>
                        <p><i class="fa fa-envelope me-3"></i>alan4630@gmail.com</p>

                    </div>
                    <div class="col-lg-5">
                        <p class="section-title text-white h5 mb-4">Información<span></span></p>
                        <p>En caso de estar interesado en nuestros servicios no dude en contactarnos.</p>

                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a href="#">Banding</a>, Todos los derechos reservados.

                            Diseñado por: <a href="https://htmlcodex.com"> Grupo 3</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="~/js/main.js"></script>
</body>

</html>