@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido @User.Claims.ElementAt(2).Value</h1>
        <p class="lead">Bienvenido a la página de banding</p>
        <hr class="my-4">
        <p>Emprendimientos para todos</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
        </p>
    </div>


}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Banding, administración de emprendimientos</h1>
        <p class="lead">Bienvenido a la página de banding</p>
        <hr class="my-4">
        <p>Emprendimientos para todos</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
        </p>
    </div>


}

