@model IEnumerable<Banding.Core.Models.Entities.MySql.Producto>

<link rel="stylesheet" href="~/css/GreenCard.css" />

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="jumbotron">
                    <h1 class="display-4">Bienvenido @User.Claims.ElementAt(2).Value</h1>
                    <p class="lead">Bienvenido a la página de adminstración de su emprendimiento.</p>
                    <hr class="my-4">
                    <p>@User.Claims.ElementAt(4).Value</p>
                </div>
            </div>
            <div class="col-3">

                <div class="container bootstrap snippets bootdeys">
                    <div class="row">

                        <div class="col-md col-sm content-card">
                            <div class="card-big-shadow">
                                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                                    <div class="content">
                                        <h6 class="category"></h6>
                                        <h4 class="title"><a href="#">Stock Mínimo</a></h4>


                                        @if (@Model.Count() > 0)
                                        {
                                            <ul>
                                                @foreach (var item in Model)
                                                {
                                                    <li class="description">@item.NombreProducto</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <div>No hay productos con el stock mínimo.</div>
                                        }

                                    </div>
                                </div> <!-- end card -->
                        </div>
                        </div>


                    </div>
                </div>


             
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Banding, administración de emprendimientos</h1>
        <p class="lead">Bienvenido a la página de banding</p>
        <hr class="my-4">
        <p>Emprendimientos para todos</p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Home" asp-action="Privacy">Saber más</a>
        </p>
    </div>
}

