@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
    Layout = "_Layout";

}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}

<!-- login Simple
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="login" />
</form>
-->

<div class="container-xxl bg-primary hero-header" style="padding:100px;">
    <div class="container" style="margin: 60px;">
        <div class="row g-5 text-white" style="padding:40px">
             
            <h1 style="margin-top: 0; padding-left: 12px;" class="text-white">Iniciar Sesión</h1>
            <div class="row ">
                <div class="col-md-4">
                    <section>
                        <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                            <h4></h4>
                            <hr />
                            <div class="text-danger"></div>
                            <div class="form-group">
                                <label>Usuario o Email</label>
                                <input type="text" class="form-control" name="username" />
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" />
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" value="login" class="btn btn-dark">Iniciar Sesión</button>
                            </div>

                        </form>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section class="text-white">
                        <h4 class="text-white"></h4>
                        <hr />
                        <br />
                        <div>
                            <p style="font-size: 20px">
                                Inicie sesión con las credenciales recibidas. En caso de no tener una cuenta registrada contacte con el administrador de su emprendimiento.
                            </p>
                        </div>

                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
</script>