@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p>En este espacio, el usuario, podrá encontrar toda la información relativa a los términos y condiciones legales que definen las relaciones entre los usuarios y yo como responsable de esta web. Como usuario, es importante que conozcas estos términos antes de continuar tu navegación.</p>

<partial name="~/Views/Shared/_NavbarStylePartial.cshtml" />
