@{
}
<div class="container">

    <div class="container-xxl py-6" id="features">
        <div class="container" style="padding-top: 25px;">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Reportes</h1>
                <p class="mb-5">Seleccione el módulo de reporte que desee revisar.</p>
            </div>
             <div class="row g-2">         
                 <div class="col-lg-2"></div>
                <a class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" asp-area="" asp-controller="Historico" asp-action="Index">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-clock-rotate-left fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Histórico de ventas</h5>
                    </div>
                </a>
                <a class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" asp-area="" asp-controller="Reporte" asp-action="Index">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-chart-pie fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Gráficos</h5>
                    </div>
                </a>
                 <div class="col-lg-2"></div>
               
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script>

    $('.navbar').removeClass('py-lg-3');
    $('.navbar').addClass('py-lg-0');

    var nav = document.getElementById("navbar");
    nav.classList.add('bg-primary');

    $(window).scroll(function () {
    if ($(this).scrollTop() > 45) {
         $('.navbar').removeClass('bg-primary');
    } else {
        $('.navbar').addClass('bg-primary');
    }
    });
</script>