@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Facturación</h1>

<div class="container">
    <div class="row">
        <h2>Factura N°</h2>
        <p class="title-right">213123511243</p>
    </div>

    <div class="row">
        <div class="col-8" >

            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h5>Nombre</h5>
                        <h5>Cédula</h5>
                        <h5>Celular</h5>
                    </div>
                    <div class="col-9">
                        <label class="body-right">Alan Guijarro</label>
                        <br>
                        <label class="body-right">0605167402</label>
                        <br>
                        <label class="body-right">Los Alamos</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4 align-content-end" style="padding:0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>Fecha</h5>
                        <h5>Dirección</h5>
                    </div>
                    <div class="col">

                        <label class="body-right">Enero</label>
                        <br>
                        <label class="body-right">Los Alamos</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Precio Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Pie de Chocolate</th>
            <td>2</td>
            <td>$8.00</td>
            <td>$16.00</td>
        </tr>
        <tr>
            <th scope="row">Pie de limón</th>
            <td>2</td>
            <td>$4.33</td>
            <td>$8.66</td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Subtotal</h5>
            <h5>Iva</h5>
            <h5>Total</h5>
        </div>
        <div class="col-10">
            <label class="body-right">$24.66</label>
            <br>
            <label class="body-right">$2.95</label>
            <br>
            <label class="body-right">$27.61</label>
        </div>
    </div>
</div>