@model Banding.Core.Models.Entities.MySql.Usuario

@{
    ViewData["Title"] = "Edit";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="container">


        <h1>Editar</h1>

        <h4>Usuario</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdUsuario" />
                    <div class="form-group">
                        <label asp-for="IdProvincia" class="control-label"></label>
                        <select asp-for="IdProvincia" class="form-control" asp-items="ViewBag.IdProvincia"></select>
                        <span asp-validation-for="IdProvincia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreUsuario" class="control-label"></label>
                        <input asp-for="NombreUsuario" class="form-control" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApellidoUsuario" class="control-label"></label>
                        <input asp-for="ApellidoUsuario" class="form-control" />
                        <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EMail" class="control-label"></label>
                        <input asp-for="EMail" class="form-control" />
                        <span asp-validation-for="EMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contrasena" class="control-label"></label>
                        <input asp-for="Contrasena" class="form-control" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RolId" class="control-label"></label>
                        <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                        <span asp-validation-for="RolId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdEmprendimiento" class="control-label"></label>
                        <select asp-for="IdEmprendimiento" class="form-control" asp-items="ViewBag.IdEmprendimiento"></select>
                        <span asp-validation-for="IdEmprendimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<partial name="~/Views/Shared/_NavbarStylePartial.cshtml" />