@model Banding.Core.Models.Entities.MySql.Factura_Cabecera

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Factura_Cabecera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Iva" class="control-label"></label>
                <input asp-for="Id_Iva" class="form-control" />
                <span asp-validation-for="Id_Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Cabecera" class="control-label"></label>
                <input asp-for="Fecha_Cabecera" class="form-control" />
                <span asp-validation-for="Fecha_Cabecera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Cliente" class="control-label"></label>
                <input asp-for="Nombre_Cliente" class="form-control" />
                <span asp-validation-for="Nombre_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula_Cliente" class="control-label"></label>
                <input asp-for="Cedula_Cliente" class="form-control" />
                <span asp-validation-for="Cedula_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Cliente" class="control-label"></label>
                <input asp-for="Telefono_Cliente" class="form-control" />
                <span asp-validation-for="Telefono_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion_Cliente" class="control-label"></label>
                <input asp-for="Direccion_Cliente" class="form-control" />
                <span asp-validation-for="Direccion_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nro_Factura" class="control-label"></label>
                <input asp-for="Nro_Factura" class="form-control" />
                <span asp-validation-for="Nro_Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva_Total" class="control-label"></label>
                <input asp-for="Iva_Total" class="form-control" />
                <span asp-validation-for="Iva_Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva_Cero" class="control-label"></label>
                <input asp-for="Iva_Cero" class="form-control" />
                <span asp-validation-for="Iva_Cero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
