@model BD.Web.Data.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Usuario" />
            <div class="form-group">
                <label asp-for="Id_Provincia" class="control-label"></label>
                <input asp-for="Id_Provincia" class="form-control" />
                <span asp-validation-for="Id_Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Usuario" class="control-label"></label>
                <input asp-for="Nombre_Usuario" class="form-control" />
                <span asp-validation-for="Nombre_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido_Usuario" class="control-label"></label>
                <input asp-for="Apellido_Usuario" class="form-control" />
                <span asp-validation-for="Apellido_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Mail" class="control-label"></label>
                <input asp-for="E_Mail" class="form-control" />
                <span asp-validation-for="E_Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn btn-dark" asp-action="Index">Regresar</a>
</div>

