.notifications {
    background-color: #e9ecef;
    border-radius: .3rem;
    padding: 0.5rem;
}

.title-right {
    margin: 0;
    margin-left: 5px; 
    font-size: 25px;
}

.body-right {
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
}
