@model BD.Web.Data.Iva

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de eliminar el Iva seleccionado?</h3>
<div>
    <h4>Iva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Iva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Iva" />
        <input type="submit" value="Delete" class="btn btn-dark" /> |
        <a class="btn btn-dark" asp-action="Index">Regresar</a>
    </form>
</div>
