@model BD.Web.Data.Iva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Iva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Iva)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id_Iva">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
