@model Banding.Core.Models.Entities.MySql.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Seguro de eliminar la categoría seleccionada?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Categoria" />
        <input type="submit" value="Delete" class="btn btn-dark" /> |
        <a class="btn btn-dark" asp-action="Index">Regresar</a>
    </form>
</div>
