@model Banding.Core.Models.Entities.MySql.Iva

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="container">

        <h1>Eliminar</h1>

        <h3>¿Estás seguro de eliminar el elemento seleccionado?</h3>
        <div>
            <h4>Iva</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ValorIva)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ValorIva)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdIva" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>

    </div>
</div>
