@model Banding.Core.Models.Entities.MySql.Iva

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Iva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Iva" />
            <div class="form-group">
                <label asp-for="Valor_Iva" class="control-label"></label>
                <input asp-for="Valor_Iva" class="form-control" />
                <span asp-validation-for="Valor_Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
